# Foundry VTT instance
FOUNDRY_URL=http://localhost:14363
FOUNDRY_USER=TUSVNmQsN5AuOA14
FOUNDRY_PASS=vMprAFcvdS4zAYoERniYLnxapx9nw68k

# Proxy service (fetches D&D Beyond pages)
PROXY_URL=http://localhost:3001
